// 主色
$color-primary: #409eff;

// 辅助色
$color-success: #67c23c;
$color-warning: #e6a23c;
$color-danger: #f56c6c;
$color-info: #909399;

// 中性色
$color-main: #303133; // 主要文字
$color-nomal: #606266; // 常规文字
$color-minior: #909399; // 次要文字
$color-seize: #c0c4cc; // 占位文字

$border-one: #dcdfe6; // 一级边框
$border-two: #e4e7ed; // 二级边框
$border-three: #ebeef5; // 三级边框
$border-four: #f2f6fc; // 四级边框

$border-default: #e6e6e6; 

// 颜色
$white: #fff;

// 字体大小
$font-size20: 20px;
$font-size18: 18px;
$font-size16: 16px;
$font-size14: 14px;
$font-size13: 13px;
$font-size12: 12px;

// 导航边框颜色值
$side-border-color: $border-default;
// 头部边框颜色值
$head-border-color: $border-two;
// 底色背景色
$grounding-color: #f2f2f2;
// 最小宽度
$min-width: 800px;
// cnode置顶, tab颜色
$put-top-bg: #80bd01;
$topiclist-tab-bg: #e5e5e5;