// 主色
$color-primary: #409EFF;

// 辅助色
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$color-info: #909399;

// 中性色
$color-main: #303133; // 主要文字
$color-nomal: #606266; // 常规文字
$color-minior: #909399; // 次要文字
$color-seize: #C0C4CC; // 占位文字

$border-one: #DCDFE6; // 一级边框
$border-two: #DCDFE6; // 二级边框
$border-three: #DCDFE6; // 三级边框
$border-four: #DCDFE6; // 四级边框
